<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DatabasefoPVFC;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
<!--ProjectGuid: BF02981E-CB10-4DCF-A916-949DCCAE38AF-->